body{
    user-select:  none;
    
}
html, body {
    touch-action: pan-x pan-y; /* Prevent pinch zoom on modern browsers */
    -ms-touch-action: pan-x pan-y; /* IE/Edge */
    overflow-x: hidden; /* Optional: prevents horizontal scroll when zooming */
}
